<style>
.vertical-menu {
    width: 300px;
}

.vertical-menu a {
    background-color: #000;
    color: white;
    display: block;
    padding: 35px;
    text-decoration: none;
    font-size:1.75em;
    font-family: Helvetica;
    margin-top: 20px;
}

.vertical-menu a:hover {
    background-color: #070807;
      padding-left: 50px;
    text-decoration: overline;
    transition: 1.7s;
    
}

.vertical-menu a.active {
    color: #EDD142;
    font-size:2.75em;
}

body{
  display: flex;
  justify-content: center;
 
}

svg {
  height: 140vh;
  width: 80vw;
  align: center;
}

path {
  stroke-dasharray: 50;
  animation: draw 1s infinite;
}

@keyframes draw {
  from {
    stroke-dashoffset: 5
  }
  to {
    stroke-dashoffset: 200;
  }
}

.wrapper{
    width: 1900px; 
    overflow-x:scroll;     
    white-space: nowrap;
    margin-left: -220px;
}

.slide{
    height: 180px;
    display: inline-block;
    width: 280px;
    padding-right: 35px;
    margin-top: 350px;
    margin-bottom: 20px;
    margin-right: 50px;
}
<style type="text/css">
  div{
    width: 200px;
    height: 200px;
    margin: 80px auto;
    overflow: hidden;
}
  div{
       cursor: pointer;/*鼠标变成手指样式*/
        transition: all 0.6s;/*所有属性变化在0.6秒内执行动画*/
}        
  div:hover         {
        transform: scale(1.12);/*鼠标放上之后元素变成1.4倍大小*/
 
}   
        </style>